* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 80px;
}

.item {
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
}

header {
    background-color: #fff; /* Cor de fundo do cabeçalho */
    position: fixed; /* Fixa o cabeçalho no topo da página */
    top: 0; /* Alinha o cabeçalho ao topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Largura total do cabeçalho */
    padding: 10px;
    z-index: 1000; /* Garante que o cabeçalho fique acima do conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra abaixo do cabeçalho */
}

/* Container do cabeçalho */
.header-container {
    display: flex; /* Usa flexbox para o layout */
    justify-content: space-between; /* Espaça a logo e o conteúdo do cabeçalho */
    align-items: center; /* Alinha o conteúdo ao centro verticalmente */
    padding: 10px 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border na altura total */
}

/* Logo */
.logo {
    flex: 1; /* Permite que a logo ocupe o espaço disponível */
}

.logo img {
    max-width: 200px; /* Define a largura máxima da logo */
    height: auto; /* Mantém a proporção da altura */
}

/* Conteúdo do cabeçalho, incluindo o botão de menu */
.header-content {
    display: flex; /* Usa flexbox para o layout dos itens do cabeçalho */
    align-items: center; /* Alinha verticalmente o conteúdo */
    gap: 30px; /* Espaçamento entre o botão de menu e o menu */
}

/* Botão de menu */
.menu-toggle {
    display: none; /* Oculta o botão de menu por padrão */
    background-color: #fff; /* Cor de fundo laranja do botão */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Adiciona um cursor de mão */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas do botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.menu-toggle:active, .menu-toggle:focus {
    background-color: #fff; /* Cor de fundo laranja escura quando o botão é clicado ou está em foco */
}

/* Ícones do botão de menu */
.menu-icon {
    display: block;
    width: 25px; /* Largura dos ícones do menu */
    height: 3px; /* Altura dos ícones do menu */
    background-color: #000; /* Cor dos ícones */
    margin: 5px 0; /* Espaçamento entre os ícones */
}

/* Navegação principal */
nav {
    display: flex; /* Usa flexbox para o layout dos itens de menu */
}

/* Menu oculto por padrão em telas menores */
.main-nav {
    display: flex; /* Exibe o menu em telas grandes */
    gap: 15px; /* Espaço entre os itens do menu */
}

/* Estilos para os itens de menu */
nav ul {
    display: flex; /* Organiza os itens em linha */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    list-style: none; /* Remove os marcadores padrão */
}

nav ul li {
    margin: 0 15px; /* Espaço horizontal entre os itens do menu */
}

nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #000; /* Cor dos links */
    font-weight: bold; /* Texto em negrito */
}

/* Estilo do menu ativo (visível) */
.main-nav.active {
    display: flex; /* Exibe o menu quando ativo */
    flex-direction: column; /* Organiza os itens em coluna */
    position: absolute; /* Posiciona o menu absoluto para sobrepor o conteúdo */
    top: 60px; /* Ajuste conforme a altura do cabeçalho */
    right: 0; /* Alinha o menu ao lado direito */
    background: #fff; /* Cor de fundo do menu */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra do menu */
}

#sobre-nos {
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-align: left; /* Centraliza o texto dentro do contêiner */
}

.secao {
    max-width: 800px; /* Define uma largura máxima para o conteúdo (opcional) */
}

section {
    padding: 20px 0;
    background-color: #111733;
    weight: 100%;
}

section h2 {
    color: #fff;
    margin-bottom: 10px;
}

section h3 {
    color: #fff;
    margin-bottom: 10px;
}

p {
    color: #fff;
}

footer {
    background-color: #1d264b;
    color: #111733;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    min-height: 15%;
}

footer p {
    margin: 1px;
    color: #fff; /* Define a cor do texto */
}

.narrow-paragraph {
    margin-left: 10px; /* Reduz o espaço à esquerda do parágrafo */
    margin-right: 10px; /* Reduz o espaço à direita do parágrafo */
    padding-left: 10px; /* Reduz o preenchimento à esquerda do parágrafo */
    padding-right: 10px; /* Reduz o preenchimento à direita do parágrafo */
}

.justificado {
    text-align: justify; /* Justifica o texto dentro do parágrafo */
}

.section-title {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.values-list {
    list-style: none;
    padding: 0;
    color: #ffffff;
}
.values-list li {
    background: url('https://img.icons8.com/ios-filled/50/000000/checkmark.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

.blue-bar {
    background-color: #111733; /* Cor azul, você pode ajustar conforme necessário */
    height: 20px; /* Ajuste a altura da barra conforme desejado */
    width: 100%; /* Ocupa toda a largura da página */
    /* Outros estilos opcionais */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Cor do texto, se houver algum */
    font-size: 16px; /* Tamanho da fonte, se houver algum texto */
    font-family: Arial, sans-serif; /* Fonte do texto */
}

.form-container {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 960px;
}

.form-group {
    margin-bottom: 23px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical; /* Permite redimensionar verticalmente apenas */
}

button {
    background-color: #111733;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #111733;
}

.banner {
    position: relative; /* Permite o uso de position: absolute; nos elementos filhos */
    width: 100%;
    height: 60vh; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    overflow: hidden; /* Evita que o conteúdo ultrapasse o contêiner */
    text-align: center; /* Centraliza o texto */
}

.banner img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: 90%; /* Mantém a proporção da imagem */
    position: absolute; /* Permite que a imagem fique atrás dos outros elementos */
    top: 0;
    left: 0;
    z-index: 1; /* Garante que a imagem fique atrás dos outros elementos */
}

.banner-button {
    position: absolute;
    bottom: 9%; /* Ajusta a posição do botão a partir da parte inferior */
    left: 50%; /* Centraliza horizontalmente o botão */
    transform: translateX(-50%); /* Ajusta a posição horizontal para o centro */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #f78418; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-weight: bold; /* Texto em negrito */
    z-index: 3; /* Garante que o botão fique acima do fundo e da imagem */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.banner-button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.banner-background {
    position: absolute;
    top: 75%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
    width: 25vw; /* Ajusta a largura como uma porcentagem da viewport */
    height: 25vh; /* Ajusta a altura como uma porcentagem da viewport */
    background-color: rgba(0, 86, 179, 0.3); /* Cor azul com transparência */
    display: flex; /* Usa flexbox para centralizar o texto */
    align-items: center; /* Alinha o texto verticalmente no meio */
    justify-content: center; /* Alinha o texto horizontalmente no meio */
    z-index: 1; /* Garante que o fundo azul esteja atrás do botão */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao fundo */
}

.banner-text {
    color: #fff; /* Cor do texto em branco */
    font-size: 25px; /* Tamanho da fonte do texto */
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Centraliza o texto */
    margin-top: -50px;
    max-width: 90%; /* Limita a largura do texto */
    line-height: 1.4; /* Ajusta a altura da linha para melhor legibilidade */
}

.about-owner {
    display: flex; /* Usa flexbox para o layout padrão */
    justify-content: space-between; /* Espaça os itens com espaço igual entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    gap: 200px; /* Espaçamento entre o texto e a imagem */
}

.owner-photo {
    flex-shrink: 0; /* Impede que a foto encolha */
}

.owner-photo img {
    width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px;
    max-width: 400px; /* Define uma largura máxima para a imagem */
    margin-right: 100px;
}

.owner-info {
    flex: 1; /* Faz com que o texto ocupe o espaço restante */
}

.owner-info h2 {
    margin-top: 0; /* Remove a margem superior do título */
    text-align: center;
    font-size: 40px; /* Tamanho da fonte do título */
    color: #111733; /* Cor do título */
    padding: 20px;
}

.owner-info p {
    text-align: justify; /* Justifica o texto para que ele se estenda de um lado ao outro do contêiner */
    font-size: 16px; /* Tamanho da fonte do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    color: #111733; /* Cor do texto */
    margin: 0; /* Remove a margem padrão do parágrafo */
}

.services {
    background-color: #111733; /* Fundo azul escuro */
    color: #fff; /* Cor do texto em branco */
    padding: 40px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.services h2 {
    font-size: 40px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define três colunas iguais */
    gap: 1.5rem; /* Espaçamento entre os itens */
    width: 100%; /* Garante que o container de serviços ocupe 100% da largura disponível */
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 ."; /* Define a área dos itens para a segunda linha */
}

.service-item:nth-child(1) {
    grid-area: item1;
}

.service-item:nth-child(2) {
    grid-area: item2;
}

.service-item:nth-child(3) {
    grid-area: item3;
}

.service-item:nth-child(4) {
    grid-area: item4;
}

.service-item:nth-child(5) {
    grid-area: item5;
}

/* Adiciona um estilo opcional para garantir que a aparência dos itens de serviço se ajuste */
.service-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    margin-top: 0;
    color: #111733; /* Cor para o título, pode ajustar conforme necessário */
    font-size: 25px;
}

.service-item p {
    font-size: 18px; /* Tamanho da fonte do texto dos quadros */
    line-height: 1.5; /* Altura da linha para melhor legibilidade */
    color: #111733;
}

.services-intro {
    padding: 40px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    font-size: 18px; /* Tamanho da fonte do texto */
    color: #fff; /* Cor do texto */
    margin: 0 auto; /* Centraliza o parágrafo */
    max-width: 1800px; /* Largura máxima para o parágrafo */
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

.cta-container {
    text-align: center; /* Centraliza o botão horizontalmente */
    margin-top: 30px; /* Adiciona um espaço acima do botão */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f78418; /* Altere a cor de fundo conforme necessário */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3; /* Cor do botão quando o mouse passa sobre ele */
}

.contact-info {
    background-color: #1d264b; /* Azul escuro */
    color: #ffffff; /* Texto branco para contraste */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria três colunas iguais */
    gap: 20px; /* Espaço entre as colunas */
    width: 100%; /* Largura máxima para a área de conteúdo */
    margin: 0 auto; /* Centraliza o container */
    box-sizing: border-box;
}

.address, .social-media, .contact {
    background-color: #1d264b; /* Azul um pouco mais claro para cada bloco */
    padding: 20px;
    border-radius: 8px; /* Adiciona bordas arredondadas aos blocos */
}

.address h2, .social-media h2, .contact h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media li {
    margin: 5px 0; /* Espaçamento vertical entre os itens da lista */
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.blog-articles {
    padding: 40px;
    background-color: #fff; /* Cor de fundo clara para a seção de blog */
}

.blog-articles h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px; /* Tamanho da fonte do título */
    color: #111733; /* Cor do título */
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Duas colunas iguais */
    gap: 20px; /* Espaço entre os artigos */
    max-width: 100%; /* Largura máxima para a área de conteúdo */
    margin: 0 auto; /* Centraliza o container */
}

.article-item {
    background-color: #ffffff; /* Fundo branco para os artigos */
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas para os artigos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%; /* Ajusta a largura do artigo para ocupar toda a largura disponível */
    max-width: 500px; /* Define uma largura máxima para garantir que o artigo não fique muito largo */
    height: 570px; /* Define uma altura fixa para criar uma forma quadrada */
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    overflow: hidden; /* Garante que o conteúdo não saia dos limites do artigo */
    position: relative; /* Para posicionar imagens ou outros elementos filhos */
}

.article-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço do artigo sem distorcer */
    border-radius: 8px; /* Mantém a consistência do arredondamento das bordas */
}

.article-item h3, .article-item p {
    margin: 10px 0; /* Espaçamento entre os elementos de texto */
    text-align: center; /* Centraliza o texto dentro do artigo */
    color:#1d264b;
}

.article-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    padding: 5px 20px;
    background-color: #FFA500; /* Cor de fundo laranja */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.read-more:hover {
    background-color: #111733; /* Cor laranja mais escura ao passar o mouse */
    color: #fff; /* Mantém a cor do texto branca */
}

.blog-section {
    padding: 20px;
    background-color: #1d264b;
    margin: 0 auto;
    max-width: 100%; /* Limita a largura da seção para uma melhor legibilidade */
}

.blog-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #1d264b;
    text-align: center;
}

.blog-content {
    background-color: #fff; /* Define o fundo branco para o conteúdo */
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    line-height: 1.6; /* Ajusta a altura da linha para melhor legibilidade */
    max-width: 100%; /* Define uma largura máxima para o conteúdo */
    width: 100%; /* Garante que o conteúdo use 100% da largura disponível até o máximo definido */
    color: #1d264b; /* Define a cor do texto */
    padding: 20px; /* Adiciona espaçamento interno ao conteúdo */
    border-radius: 8px; /* Adiciona bordas arredondadas para um visual mais suave */
}

.blog-content p {
    margin-bottom: 20px;
    color: #333;
}

.steps-list {
    margin-left: 20px;
}

.steps-list li {
    margin-bottom: 15px;
}

.steps-list strong {
    color: #1d264b; /* Destaque para os títulos dos passos */
}

.unique-blog-section {
    padding: 20px;
    background-color: #111733;
}

/* Estilos para a lista de postagens com nome único */
.unique-blog-posts {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre as postagens */
}

/* Estilos para cada postagem com nome único */
.unique-blog-post {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do contêiner */
    position: relative; /* Necessário para o posicionamento da imagem */
}

.unique-post-image {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: 260px;
    border-radius: 8px;
    float: right; /* Posiciona a imagem à direita */
    margin-left: 20px; /* Espaçamento entre a imagem e o texto */
}

.unique-post-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color:#111733;
}

.unique-post-summary {
    font-size: 1rem;
    color: #111733;
}

.unique-read-more {
    display: inline-block;
    padding: 5px 20px;
    background-color: #FFA500; /* Cor de fundo laranja */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.unique-read-more:hover {
    background-color: #111733; /* Cor laranja mais escura ao passar o mouse */
    color: #fff; /* Mantém a cor do texto branca */
}

@media (max-width: 768px) {

    .contact-container {
        display: flex; /* Usa flex em telas menores */
        flex-direction: column; /* Alinha os itens verticalmente */
        gap: 15px; /* Espaço entre os itens */
    }

    .contact-container > div {
        flex: 1 1 auto; /* Permite que os itens ocupem a largura total */
    }

    .about-owner {
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
        text-align: center; /* Alinha o texto ao centro */
        gap: 5px;
        margin-top: -140px;
    }

    .owner-info, .owner-photo {
        width: 100%; /* Faz com que ambos ocupem a largura total do contêiner */
        padding: 15px;
    }

    .owner-photo img {
        width: 80%; /* Ajusta a largura da imagem */
        max-width: 400px; /* Define uma largura máxima para a imagem */
        margin-right: 0;
    }

    .banner img {
        content: url('./bannerresponsivo.png'); /* Imagem para a versão responsiva */
        height: auto; /* Garante que a altura da imagem se ajuste automaticamente */
    }

    .banner-background {
        width: 65vw; /* Ajuste a largura para telas menores */
        height: 45vw; /* Ajuste a altura para telas menores */
        top: 55%;
    }

    .banner-text {
        font-size: 20px; /* Ajusta o tamanho da fonte para dispositivos menores */
    }

    .banner-button {
        font-size: 0.9rem; /* Ajusta o tamanho da fonte em telas menores */
        padding: 6px 12px; /* Ajusta o espaçamento interno */
        bottom: 5%; /* Ajusta a posição do botão a partir da parte inferior */
        margin-bottom: 32%;
    }

    .services-container {
        grid-template-columns: 1fr; /* Uma coluna para telas pequenas */
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"; /* Cada item ocupa uma linha completa */
    }

    .services h2 {
        font-size: 32px; /* Reduz o tamanho do título */
    }

    .services-intro {
        font-size: 16px; /* Reduz o tamanho da fonte do texto */
        padding: 20px; /* Ajusta o espaçamento interno */
    }

        .articles-container {
            grid-template-columns: 1fr; /* Uma coluna em telas menores */
        }
        
        .blog-articles h2 {
            font-size: 32px; /* Reduz o tamanho do título em telas menores */
        }
    
        .article-item {
            height: auto; /* Ajusta a altura dos artigos para se adaptar ao conteúdo */
        }

        footer p {
            font-size: 12px; /* Reduz ainda mais o tamanho da fonte para telas menores */
        }

        .menu-toggle {
            display: block; /* Exibe o botão de menu em dispositivos móveis */
        }
    
        .main-nav {
            display: none; /* Oculta o menu por padrão em dispositivos móveis */
        }
    
        .main-nav.active {
            display: flex; /* Exibe o menu quando o botão é clicado */
            flex-direction: column; /* Organiza os itens em coluna */
            position: absolute; /* Posiciona o menu absoluto para sobrepor o conteúdo */
            top: 60px; /* Ajuste conforme a altura do cabeçalho */
            right: 0; /* Alinha o menu ao lado direito */
            background: #fff; /* Cor de fundo do menu */
            padding: 10px; /* Espaçamento interno */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra do menu */
            width: 100%;
        }
    
        .main-nav ul {
            flex-direction: column; /* Organiza os itens do menu em coluna */
            gap: 10px; /* Espaço entre os itens do menu */
        }
    
        .main-nav ul li {
            margin: 0; /* Remove a margem dos itens do menu em dispositivos móveis */
        }

        .address h2, .social-media h2, .contact h2 {
            font-size: 18px; /* Reduz o tamanho do título em telas menores */
        }
    
        .address p, .social-media p, .contact p {
            font-size: 14px; /* Reduz o tamanho do texto do parágrafo em telas menores */
        }

        .titulo {
            margin-bottom: 20px;
        }

}